:root {
  --white: white;
  --primary: #5569FF;
  --secondary: #EBEDFF;
  --success: #EA021E;
  --warning: #EA021E;
  --black-900: #1C1C1E;
  --black-700: #6E6D73;
  --black-500: #B3B4B9;
  --black-300: #E4E5EA;
  --black-100: #FBFBFD;
}